
:root{
    --background: #212122;
    --border:#3c3c3c;
    --white:#FFFFFF;
    --panel: #161616;
    --ui:#7e7e7e;
    --font-code: Consolas, monospace;
    --font-ui: Segoe UI, sans-serif;
    
}
html{
    scroll-behavior: smooth;
}

* {
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: var(--background);
    margin: 0;
}

